.feature-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 60px; /* Increased gap between feature cards */
  padding: 40px 20px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.feature-card {
  background-color: #1c1c1c; /* Darker background for the cards */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 300px;
  color: #fff; /* White text for the cards */
  margin: 30px; /* Added margin around each card */
}

.feature-icon {
  font-size: 2.5em;
  /*color: #007bff; /* Primary color for icons */
  color: rgb(120, 200, 244);
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 1.7em;
  margin-bottom: 15px;
  color: #fff; /* White text for headings */
}

.feature-card ul {
  text-align: left;
  padding-left: 20px;
}

.feature-card li {
  font-size: 1.1em;
  color: #ccc; /* Light gray text for list items */
  margin-bottom: 10px;
}
