.company-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
  background-image: url("../../../static/img/eloqsql_website_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.company-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  color: #ccc;
  /* Light gray text for general content */
  /*background-color: #000; /* Black background */
}

.header-section {
  text-align: center;
  margin-bottom: 40px;
}

.company-branding {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the content horizontally */
}

.company-logo {
  height: 4em; /* This makes the image height consistent with the font size */
  width: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Space between image and text */
}

.company-name {
  font-size: 4em; /* Adjust this as needed */
  margin: 0;
  color: rgb(120, 200, 244);
}

.company-tagline {
  font-size: 1.5em;
  margin: 0;
  color: #ccc;
}

.mission-section-join {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
}

.mission-heading-join {
  font-size: 2rem;
  color: #f2f2f2;
  text-transform: uppercase;
}

.mission-section {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
}

.rowa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.columna {
  width: 48%;
}

.mission-heading {
  font-size: 2.5em;
  color: #f2f2f2;
}

.large-text {
  font-size: 1.2em;
  color: #cccccc;
}

.mission-image,
.vision-imager {
  width: 70%;
  margin-right: 20%; /* Adds margin to the left of each office box */
  height: auto;
  border-radius: 8px;
}

.mission-image,
.vision-imagel {
  width: 70%;
  margin-left: 20%; /* Adds margin to the left of each office box */
  height: auto;
  border-radius: 8px;
}

.highlight-text {
  font-size: 1rem;
  color: #e0e0e0;
}

.emphasized-text {
  color: #f75b0c; /* Highlight color for emphasis */
  font-weight: bold;
  font-size: 2.2rem;
}

.mission-call {
  font-size: 1rem;
  color: #cccccc;
  margin-top: 20px;
}

.offices-section {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

.office-locations {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.office {
  width: 28%;
  background-color: #444444;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 60px;
  margin-bottom: 20px;
  margin-right: 10%; /* Adds margin to the right of each office box */
  box-shadow: 0 10px 16px rgba(210, 240, 220, 0.5); /* Stronger shadow with increased blur and opacity */
  transition: transform 0.3s, background-color 0.3s;
  color: #ffffff; /* Ensure the text is white */
  border-radius: 8px;
}

.office h3 {
  font-size: 1.5rem;
  #color: #00bcd4; /* A brighter, contrasting color for headings */
  color: rgb(120, 200, 244);
}

.office p {
  font-size: 1.2rem;
  color: #b3b3b3;
  line-height: 1.6; /* Increased line height for better text spacing */
}

.office:hover {
  background-color: #3a3a3a; /* Slightly different background on hover */
  transform: translateY(-5px); /* Lift the box slightly on hover */
}

.join-us-section {
  text-align: center;
  margin-bottom: 40px;
}

.join-us-section h2 {
  font-size: 1.8rem;
  color: #f2f2f2;
}

.join-us-section p {
  font-size: 1rem;
  color: #b3b3b3;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.join-us-section a {
  color: #4da6ff;
  text-decoration: none;
}

.join-us-section a:hover {
  text-decoration: underline;
}

.footer-section {
  text-align: center;
  margin-top: 40px;
  color: #777;
}

.large-text {
  font-size: 1.2em; /* Adjust the size as needed */
}
